<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ project }} status</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="index.less" rel="stylesheet">
  </head>
<body>
  <main>
    <h1>{{ project }} status</h1>
    <ul>
{{each(options.team)}}
      <li>
        <a class="team-member-link" href="/{{@this['name'].toLowerCase().replace(' ', '-')}}.html">{{@this['name']}}</a>
      </li>
{{/each}}
    </ul>
    <input type="hidden" id="pixelCount" name="pixelCount" value="{{ pixelCount }}">
    <section class="admin">
      <a href="/label.html">Print label</a>
      <button class="btn button__reset">Reset</button>
    </section>
  </main>
  <script src="./index.js"></script>
</body>
</html>