<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ project }} status</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="index.less" rel="stylesheet">
  </head>
<body class="label">
  <main>
    <h1>{{ project }}</h1>
    <ol class="team-size-{{ teamSize }}">
{{each(options.metrics)}}
      <li>
        <span>{{@this}}</span>
      </li>
{{/each}}
    </ol>
  </main>
</body>
</html>