<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ userName }} - {{ project }} status</title>
    <link href="index.less" rel="stylesheet">
  </head>
<body>
  <main>
    <h1>{{ userName }}</h1>
    <form>
      <input type="hidden" id="userId" name="userId" value="{{ userId }}">
      <input type="hidden" id="metricCount" name="metricCount" value="{{ metricCount }}">
      {{each(options.metrics)}}
      <p>{{ @index + 1 }}. {{@this}}</p>
      <div class="radio-items">
        <div class="radio-item radio-item--green">
          <input type="radio" id="{{ @index }}green" name="{{ @index }}status" value="{{ @index }}green">
          <label for="{{ @index }}green"></label>
        </div>
        <div class="radio-item radio-item--amber">
          <input type="radio" id="{{ @index }}amber" name="{{ @index }}status" value="{{ @index }}amber">
          <label for="{{ @index }}amber"></label>
        </div>
        <div class="radio-item radio-item--red">
          <input type="radio" id="{{ @index }}red" name="{{ @index }}status" value="{{ @index }}red">
          <label for="{{ @index }}red"></label>
        </div>
      </div>
      {{/each}}
    </form>
  </main>
  <script src="./index.js"></script>
</body>
</html>